﻿@model IEnumerable<ShipperApp.Models.KHACHHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Search by Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LASTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMOVED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIRSTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LASTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.REMOVED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.KHACHHANG_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.KHACHHANG_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KHACHHANG_ID })
            </td>
        </tr>
    }

</table>
