﻿@model IEnumerable<BankApp.Models.PRODUCT_TYPE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PRODUCT_TYPE_CD }) |
            @Html.ActionLink("Details", "Details", new { id=item.PRODUCT_TYPE_CD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PRODUCT_TYPE_CD })
        </td>
    </tr>
}

</table>
