﻿@model BankAppExample.Models.EMPLOYEE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.END_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.START_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BRANCH.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRANCH.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPLOYEE2.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPLOYEE2.FIRST_NAME)
        </dd>

    </dl>
</div>
<div>
    <h3>Transaction history</h3>
    <table class="table-striped" width="100%">
        <tr>
            <th>Amount</th>
            <th>Date</th>
            <th>Type</th>
        </tr>
        @foreach (var i in Model.ACCOUNTs)
        {
            foreach (var item in i.ACC_TRANSACTION)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(itemModel => item.AMOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => item.TXN_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => item.TXN_TYPE_CD)
                    </td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EMP_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
