﻿@using AssignmentAzureWeb.TravelService;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var admin = (Employee)Session["employee"];
}
@section Css{
    <style>
       ::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
    @RenderSection("Css", required: false)
    </style>
}
@section Header{
    <div class="page-wrapper">
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="Index">
                            <img src="~/Assets/Upload/logo-black.png" alt="Restaurant">
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        @*<li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                                <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                    <li>
                                        <a href="index.html">Dashboard 1</a>
                                    </li>
                                    <li>
                                        <a href="index2.html">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="index3.html">Dashboard 3</a>
                                    </li>
                                    <li>
                                        <a href="index4.html">Dashboard 4</a>
                                    </li>
                                </ul>
                            </li>*@

                        @*@if (admin.role == 1)
                            {
                                <li>
                                    <a href="@Url.Action("User","Admin")">
                                        <i class="fas fa-users"></i>Users
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#">
                                    <i class="fas fa-clipboard-list"></i>Order
                                </a>
                            </li>*@
                    </ul>
                </div>
            </nav>
        </header>


        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="Index">
                    <img src="~/Assets/Upload/logo-black.png" alt="Restaurant">
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @*<li class="has-sub">
                                <a class="js-arrow" href="#">
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        <a href="index.html">Dashboard 1</a>
                                    </li>
                                    <li>
                                        <a href="index2.html">Dashboard 2</a>
                                    </li>
                                    <li>
                                        <a href="index3.html">Dashboard 3</a>
                                    </li>
                                    <li>
                                        <a href="index4.html">Dashboard 4</a>
                                    </li>
                                </ul>
                            </li>*@

                        @*@if (admin.role == 1)
                            {
                                <li>
                                    <a href="@Url.Action("User","Admin")">
                                        <i class="fas fa-users"></i>Users
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="#">
                                    <i class="fas fa-clipboard-list"></i>Order
                                </a>
                            </li>*@

                    </ul>
                </nav>
            </div>
        </aside>

        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST"></form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                    </div>
                                    <div class="noti__item js-item-menu">
                                    </div>
                                    <div class="noti__item js-item-menu">
                                    </div>
                                </div>
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="~/Assets/Upload/avatar.png" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            @*<a class="js-acc-btn" hrefl="#">@admin.</a>*@
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="ManagerAccount">
                                                        <i class="zmdi zmdi-account"></i>Account
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="@Url.Action("Logout","Admin")">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderSection("Main")
                    </div>
                </div>

            </div>

        </div>
    </div>
    @RenderSection("OutsideMain", required: false)

}
@section Script{
    @RenderSection("Script", required: false)
}