﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    @Html.ActionLink("Account Transaction", "Index", "Acc_Transaction")
</div>
<div>
    @Html.ActionLink("Customer", "Index", "Customers")
</div>
<div>
    @Html.ActionLink("Employee", "Index", "Employees")
</div>