﻿@model BankApp.Models.CUSTOMER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CUSTOMER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUST_TYPE_CD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUST_TYPE_CD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FED_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FED_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POSTAL_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POSTAL_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BUSINESS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BUSINESS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INDIVIDUAL.FIRST_NAME)
        </dd>

    </dl>
</div>
<div>
    <h3>Transaction History</h3>
    <table class="table-striped" style="width:100%;">
        <tr>
            <th>TXN_TYPE_CD</th>
            <th>Amount</th>
            <th>FUNDS_AVAIL_DATE</th>
            <th>TXN_DATE</th>
            <th>Employee Name</th>
        </tr>

        @foreach (var item in Model.ACCOUNTs)
        {
            foreach (var i in item.ACC_TRANSACTION)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(itemModel => i.TXN_TYPE_CD)
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => i.AMOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => i.FUNDS_AVAIL_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => i.TXN_DATE)
                    </td>
                    <td>
                        @Html.DisplayFor(itemModel => i.EMPLOYEE.FIRST_NAME)
                    </td>
                </tr>
            }
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CUST_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
