﻿@model ShipperApp.Models.GOIHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GOIHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UPDATED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMOVED_AT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMOVED_AT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WIEGHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIEGHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACHHANG.FIRSTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.FIRSTNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GOIHANG_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
