﻿@model IEnumerable<ShipperApp.Models.GOIHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMOVED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WIEGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.FIRSTNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMOVED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WIEGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.FIRSTNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GOIHANG_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GOIHANG_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GOIHANG_ID })
        </td>
    </tr>
}

</table>
