﻿@model IEnumerable<ShipperApp.Models.LOAIDICHVU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div>
    Chart
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        console.log("Begin");
        $.ajax({
            type: "POST",
            url: "/LOAIDICHVUs/Index/AjaxMethod",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                var data = google.visualization.arrayToDataTable(r);

                //Pie
                var options = {
                    title: 'USA City Distribution'
                };
                var chart = new google.visualization.LineChart($("#chart")[0]);
                chart.draw(data, options);
                console.log("Success");
            },
            failure: function (r) {
                alert("Failure");
            },
            error: function (r) {
                alert("Error --- Loi");
            }
        });
        console.log("Done");
    }
</script>

<div id="chart" style="width: 900px; height: 500px"></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOTA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HESOTIEN)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UPDATED_AT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HESOTIEN)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LDV_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LDV_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LDV_ID })
            </td>
        </tr>
    }

</table>
