﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h2>Details</h2>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    Book Id :
                </dt>
                <dd>
                    @ViewBag.book.BookId
                </dd>
                <dt>
                    Book Title :
                </dt>
                <dd>
                    @ViewBag.book.Title
                </dd>
                <dt>
                    Book ISBN :
                </dt>
                <dd>
                    @ViewBag.book.ISBN
                </dd>
            </dl>
        </div>

        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</body>
</html>
