﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <fieldset>
            <legend> List Books</legend>
            <table cellpadding="2" cellspacing="2">
                <tr>
                    <th>Book Id</th>
                    <th>Title</th>
                    <th>ISBN</th>
                </tr>
                @foreach (var b in ViewBag.listBooks)
                {
                    <tr>
                        <th>@b.BookId</th>
                        <th>@b.Title</th>
                        <th>@b.ISBN</th>
                    </tr>
                }
            </table>
        </fieldset>
    </div>
</body>
</html>
