﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    ::-webkit-scrollbar {
        width: 0px;
    }
</style>

<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container" style="height: 100%">
            <div class="login-wrap" style="height: 100%; overflow: scroll">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="~/Assets/Upload/logo-black.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <div class="login-form">
                        <form action="" method="post">
                            <div class="form-group">
                                <label>Account user</label>
                                <input class="au-input au-input--full" type="text" name="name" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <input class="au-input au-input--full" type="text" name="address" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                            </div>
                            <div class="login-checkbox">
                                <label>
                                    <input type="checkbox" name="aggree">Agree the terms and policy
                                </label>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">register</button>
                            <div class="social-login-content">
                                <div class="social-button">
                                </div>
                            </div>
                        </form>
                        <div class="register-link">
                            <p>
                                Already have account?
                                @Html.ActionLink("Sign In", "Login", "Employee")

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
