﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        Create New
    </p>
    <table class="table-striped" width="100%" border="1">
        <tr>
            <th>
                Client Account
            </th>
            <th>
                Client Name
            </th>
            <th>
                Client ID
            </th>
            <th>
                Client Password
            </th>
            <th>
                Deposits
            </th>
            
            <th></th>
        </tr>
    
    @foreach (var item in ViewBag.listClient) {
        <tr>
            <td>
                @item.Client_Acc
            </td>
            <td>
                @item.Client_Name
            </td>
            <td>
                @item.Client_Id
            </td>
            <td>
                @item.Client_Password
            </td>
            <td>
                @item.Deposit
            </td>
            
            <td>
                Action Link
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
