﻿@model IEnumerable<ShipperApp.Models.DONHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CREATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPDATED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REMOVED_AT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GOIHANG.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KHACHHANG.FIRSTNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIDICHVU.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.FIRSTNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CREATED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPDATED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REMOVED_AT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GOIHANG.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KHACHHANG.FIRSTNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIDICHVU.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.FIRSTNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DONHANG_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DONHANG_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DONHANG_ID })
        </td>
    </tr>
}

</table>
