﻿@{
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
    ViewBag.Title = "Home Page";
}

<div>
    @Html.ActionLink("Danh sach nhan vien", "Index", "NHANVIENs")
</div>
<div>
    @Html.ActionLink("Danh sach khach hang", "Index", "KHACHHANGs")
</div>
<div>
    @Html.ActionLink("Danh sach loai dich vu", "Index", "LOAIDICHVUs")
</div>
<div>
    @Html.ActionLink("Danh sach goi hang", "Index", "GOIHANGs")
</div>
<div>
    @Html.ActionLink("Danh sach don hang", "Index", "DONHANGs")
</div>
<div>
    @Html.ActionLink("Danh sach chi nhanh", "Index", "CHINHANHs")
</div>