﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<body>
    <p>
        Create New
    </p>
    <table class="table-striped" width="100%" border="1">
        <tr>
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Employee Salary
            </th>
            <th>
                Employee Department
            </th>

            <th></th>
        </tr>

        @foreach (var item in ViewBag.listEmp)
        {
            <tr>
                <td>
                    @item.Emp_Id
                </td>
                <td>
                    @item.Emp_Name
                </td>
                <td>
                    @item.Salary
                </td>
                <td>
                    @item.Department
                </td>
            </tr>
        }

    </table>
</body>
